<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarmoniX - Music To Your Mood</title>
    <link rel="icon" href="../public-media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="css/search.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <%- include("Partials/nav_&_side_bar") %>
        <main>
            <section class="section">
                <div class="section-name">
                    <li><i class="<%=iconClasses[3]%> trend-icon"></i> Top Search Result...</li>
                </div>
                <div class="material" id="top-result" draggable="true">
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name ">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="section-name">
                    <li><i class="<%=iconClasses[4]%> artstation-icon"></i> Explore These Related Results..</li>
                </div>
                <div class="material" id="other-result" draggable="true">
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                    <div class="card top-tracks-india-card">
                        <img src="../public-media/Load.gif" alt="img1" draggable="true" class="top-tracks-india">
                        <p class="card-name top-india-track-name">Loading...</p>
                        <button class="play-btn india-track-play-btn"><i class="<%=iconClasses[5]%>"></i></button>
                    </div>
                </div>
            </section>
            <% if (type==="track,artist,album,playlist,show,episode" ) { %>
                <% 
                // Define an array in EJS
                var Names = ['Albums', 'Tracks', 'Playlists'];
            %>
                <% for (let i=0; i < 3; i++) { %>
                    <section class="section">
                        <div class="section-name">
                            <li><i class="<%=iconClasses[4]%> artstation-icon"></i> "<%=Names[i]%>" Based On Your Search..</li>
                        </div>
                        <div class="material" id="other-result" draggable="true">
                            <% for (let i=0; i < 8; i++) { %>
                                <div class="card top-tracks-india-card">
                                    <img src="../public-media/Load.gif" alt="img1" draggable="true"
                                        class="top-tracks-india">
                                    <p class="card-name top-india-track-name">Loading...</p>
                                    <button class="play-btn india-track-play-btn"><i
                                            class="<%=iconClasses[5]%>"></i></button>
                                </div>
                                <% } %>
                    </section>
                                    <% } %>
                                        <% } %>
        </main>
        <%- include("Partials/player") %>

            <script src="js/search.js" defer></script>
            <script src="js/main.js" defer></script>
</body>

</html>